<!-- Display the countdown timer -->
<div id="countdown"></div>

<!-- Include the countdown timer script -->
<script>
  // Define the target date and time
const targetDate = new Date("April 26, 2024 18:00:00 UTC").getTime();

  // Get the countdown element
  const countdownElement: any = document.getElementById('countdown');

  // Update the countdown every second
  setInterval(() => {
    // Get the current date and time
    const now = new Date().getTime();

    // Calculate the time remaining until the target date and time
    const distance = targetDate - now;

    // Calculate the number of days, hours, minutes, and seconds remaining
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Update the countdown element
    countdownElement.innerText = `🥔🚀 Presale ends in: ${days}d ${hours}h ${minutes}m ${seconds}s`;

    // Add styles to the countdown element
    countdownElement.style.color = '#050400'; // Reddish/orange color
    countdownElement.style.textShadow = '0 0 3px #ff4500, 0 0 6px #f3a406'; // Reduced glow effect
    countdownElement.style.fontFamily = 'Impact, Charcoal, "open-sans"';
    countdownElement.style.fontSize = '1.5em';

    // If the countdown is over, display a message
    if (distance < 0) {
      clearInterval(0);
      countdownElement.innerText = "LAUNCHED!🚀🥔";
      // countdownElement.style.textShadow = 'none';
    }
  }, 1000);
</script>